<!DOCTYPE html>
<html>
  <head>
    <title>HockeyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  </head>

  <body>
    <section class="section">
      <h1 class="title is-1"><%= link_to 'The Hockey Shop', root_path%>
      <h2 class="subtitle"></h2>
      <div class="page-buttons">
        <h2 class="button"><%= link_to 'About Us', 'pages/1' %></h2>
        <h2 class="button"><%= link_to 'Contact Us', 'pages/2' %></h2>
      </div>
    </section>
  <div class="main-search-layout">
    <%= form_with(url: search_results_products_path, method: "get", local: true) do %>
    <%= label_tag(:q, "Search:") %>
    <%= text_field_tag(:query) %>
    <%= select_tag "category_id", options_from_collection_for_select(Category.all, "id", "name", '10'), html: {selected: true} %>
    <%= submit_tag("Search") %>
  </div>
<% end %>
    <section class="section">
      <%= yield %>
    </section>

  </body>
</html>
